@model List<DatiPartecipante>
@using SelfieLottery.Models;
@{
    ViewBag.Title = "Estrazione";
}


@section head{

<link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />
 
}
<h3>Estrazione</h3><button id="btnEstrai" class="btn btn-success">Estrai</button>

<p>Numero partecipanti: <span id="numeropartecipanti">@Model.Count</span>.</p>

<span id="machine1Result"></span>


<div class="row" id="partecipanti">
    @foreach (var item in Model)
    {
        <div class="estrazione-item col-md-1">
            <label for="img_@item.Id">@item.Nome</label>
            <img src="@item.ImageUrl" id="img_@item.Id" class="img-responsive img-thumbnail estrazione-image" alt="@item.Nome @item.Cognome" style="max-height:160px"  >
            <input type="hidden" value='{"Nome":"@item.Nome","Cognome":"@item.Cognome","ImageUrl":"@item.ImageUrl"}' id="hdn_@item.Id" class="hiddendata" />
        </div>

    }
</div>



@section Scripts{
<script src="~/Scripts/bootstrap-dialog.js"></script>
    <script>
        var arr = [];
        $(document).ready(function () {
            arr = [];
            $(".hiddendata").each(function (index) {
                arr.push($(this).val())
            });
            var len = arr.length;

            if (len > 0) {
                $("#btnEstrai").show();
            } else {
                $("#btnEstrai").hide();
            }


            $("#btnEstrai").click(function () {
              
                var random = 0;
                //for (var i = 0; i < len; i++) {
                    random = getRandomInt(1, len) - 1;
                //}
                
                //alert(random);
                var d = arr[random].toString();
                var data = jQuery.parseJSON(d);
                arr.splice(random, 1);
                showWinner(data);
                len = arr.length;
                if (len > 0) {
                    $("#btnEstrai").show();
                } else {
                    $("#btnEstrai").hide();
                }
            })
        });

        function showWinner(data) {

            BootstrapDialog.show({
                title:'Vincitore!',
                message: '<div><h2>' + data.Nome + ' ' + data.Cognome + '</h2><img src="' + data.ImageUrl + '" id="img" alt="" class="img-responsive img-rounded" style="max-height:240px" ></div>',
                buttons: [ {
                    label: 'Close',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }

        function getRandomInt(min, max) {
            var rnd = Math.random();
            console.log(rnd);
            var result = Math.floor(rnd * (max - min + 1)) + min
            return result;
        }

    </script>

}
